.theWinner
{
	color: red;
}

.container{
  	max-width: 300px;
    margin: 0 auto;
}

body
{
	background-color: #d5912b;
}

// Classes
.pull-left {
  float: left !important;
}

.btn
{
	margin: 5px;
	width: 300px;
}


label
{
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}

h1, p{
	text-align: center;
	font-size: 40px;
}

input
{
	height: 50px;
	font-size: 20px;
}

