body 
{
	background-color: #487A21;
	margin: 0;
}

#container {
	max-width: 700px;
	margin: 0 auto;
	
}

.box
{
	width: 30%;
	background-color: green;
	padding-bottom: 30%;
	border: 1px solid black;
	float: left;
	margin: 1.5%;
}

#msgDisplay
{
	color: black;
}

#line
{
	background-color: white;
	text-align: center;
	height: 20px;
	color: black;
	margin 0;
}

.selected
{
	background: blue;
}


h1
{
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	background-color: #722626;
	margin: 0;
	font-weight: normal;
	line-height: 1.2;
	padding: 20px 0;
	font-family: 'Bangers', cursive;
	letter-spacing: 5px;
}

button
{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: lightblue;
	font-size: inherit;
}