body 
{
	background-color: #487A21;
}

#container {
	max-width: 700px;
	margin: 0 auto;
	
}

.box
{
	width: 30%;
	background-color: green;
	padding-bottom: 30%;
	border: 1px solid black;
	float: left;
	margin: 1.5%;
}

#msgDisplay
{
	color: black;
}

#line
{
	background-color: white;
	text-align: center;
	height: 20px;
	color: black;
}

.selected
{
	background: blue;
}


h1
{
	text-align: center;
	color: #FFFFFF;
	background-color: #722626;
}